* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5d0d6;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #7f4a5e;
}

.game-container {
    background-color: #ffebef;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #ff77a9;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

#catchMe {
    width: 100px;
    height: 100px;
    background-color: #ff77a9;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#catchMe:hover {
    background-color: #ff4c80;
}

#score {
    font-size: 20px;
    color: #ff4c80;
    font-weight: bold;
}
